{% extends 'base.html' %}

{% block title %}Register - Task{% endblock %}

{% block content %}

<div class="auth-design">
    <div class="card shadow reg-card">        
        <div class="card-body">
            
            <div class="text-center mb-4">
                <h2>Register</h2>
                <p>please fill the form to continue</p>
            </div>    

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Profile Picture</label>
                    {{ form.profile_pic }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            {{ form.email }}
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password1 }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn btn-primary w-100 mb-2">Register</button>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'login' %}" class="">already registerd?</a>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}