{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-wrapper">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <div class="profile-card">

                <!-- Banner -->
                <div class="profile-banner position-relative">
                    <img
                        src="{{user_obj.profile_pic.url}}"
                        alt="Profile"
                        class="profile-image"
                    >
                </div>

                <!-- Body -->
                <div class="profile-body text-center">

                    <h2 class="profile-name">{{user_obj.first_name}} {{user_obj.last_name}}</h2>
                    <p class="profile-role">individual account</p>                 
                    <!-- Content -->
                    <div class="row mt-5 g-4 text-start">
                        <!-- Left Side -->
                        <div class="col-lg-12">

                            <div class="info-card">
                                <h4 class="section-title">Personal Information</h4>

                                <div class="info-item">
                                    <div class="info-icon">
                                        <i class="ri-mail-line"></i>
                                    </div>

                                    <div>
                                        <div class="info-label">Email Address</div>
                                        <div class="info-value">{{user_obj.email}}</div>
                                    </div>
                                </div>

                                <div class="info-item">
                                    <div class="info-icon">
                                        <i class="ri-user-line"></i>
                                    </div>

                                    <div>
                                        <div class="info-label">Full Name</div>
                                        <div class="info-value">{{user_obj.first_name}} {{user_obj.last_name}}</div>
                                    </div>
                                </div>
                        
                                <div class="info-item">
                                    <div class="info-icon">
                                        <i class="bi bi-telephone"></i>
                                    </div>

                                    <div>
                                        <div class="info-label">Username</div>
                                        <div class="info-value">{{user_obj.username}}</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}